body { margin: 0; font-size: 13px; font-family: "Source Sans Pro", sans-serif; background: #fff;}
.clear { clear: both;}
p { margin: 0; padding: 10px 0;}
a { text-decoration: none; color: white;}
a:hover { color: #fff;}
a img { border: none;}
h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: bold; color: #000;}
h1 { padding: 26px 0 24px; margin: 0; line-height: 1.4em; font-size: 60px; color: white;}
h2 { padding: 12px 0; font-size: 16px; color: white;}
h3 {font-size: 26px; color: black;}
h4 {font-size: 24px; color: white;}
strong { font-weight: bold;}
figcaption { font-size: 12px; color: gray; }
time { color: gray; font-size: 12px; }
em { font-style: italic;}
form, menu, iframe { display: block; margin: 0; padding: 0; border: none;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; list-style: none;}
* { outline: none;}

body {
  background-image: linear-gradient(to bottom, #0244a5 0, #0248a8 22px, #0759af 43px, #1f6bc1 44px, #004498 45px, #fff 590px, #fff 100%);
  min-height: 100vh;
  width: 1000px;
  margin: 0 auto;
}

/*
blue: ;

*/

.main-nav__topnav ul {
  display: flex;
  justify-content: center;
}

.main-nav__item {
	position: relative;

	margin: 0;
}

.main-nav__item:before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 20px;
}

.main-nav__item a {
	width: 100%;
  	display: block;
  	color: white;
  	font-size: 13px;
  	font-weight: bold;
  	padding: 14px 27px;
  	position: relative;
}

.main-nav__item:first-child:before {
	display: none;
}

.header-logo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.header-logo__img {
	padding: 20px;
}

.main-page {
	margin-bottom: 20px;
	border: solid gray 1px;
	border-top: solid white 1px;
	border-radius: 5px;
	padding-bottom: 20px;
}
.main-video {
background: #0244a5; /* Old browsers */
background: -moz-linear-gradient(-45deg, #0244a5 43%, #7db9e8 57%, #7db9e8 62%, #7db9e8 65%, #7db9e8 65%, #2989d8 72%, #2989d8 72%, #2989d8 72%, #2989d8 74%, #207cca 77%, #006bc4 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0244a5 43%,#7db9e8 57%,#7db9e8 62%,#7db9e8 65%,#7db9e8 65%,#2989d8 72%,#2989d8 72%,#2989d8 72%,#2989d8 74%,#207cca 77%,#006bc4 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0244a5 43%,#7db9e8 57%,#7db9e8 62%,#7db9e8 65%,#7db9e8 65%,#2989d8 72%,#2989d8 72%,#2989d8 72%,#2989d8 74%,#207cca 77%,#006bc4 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0244a5', endColorstr='#006bc4',GradientType=1 );
display: flex;
justify-content: space-between;
color: white;
padding: 20px;
}

.font__40 {
	color: white;
  	font-size: 40px;
  	font-weight: bold;
  	text-align: right;
}

.main-video__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-article {
	width: 70%;
}

.section-article__item {
	padding: 42px 20px;
	padding-bottom: 20px;
	border-bottom: dashed gray 1px;
}

.section-article__point {
	padding: 20px 20px;
	border-bottom: dashed gray 1px;
}

.section-article__point__disk {
	position: relative;
}

.section-article__point__disk:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	background-color: red;
	top: 14px;
	margin-right: 10px;
}

.section-article__point__disk p {
	padding: 10px 20px;
}

.article-down {
	padding: 30px 20px;
}

.article-down__img {
	display: block;
	margin: 0 auto;
	padding: 20px 0 0;
}

.article-down__figcapt {
	padding-bottom: 20px;
  	text-align: center;
}

.article__button {
	display: block;
	margin: 0 auto;
	font-size: 20px;
	color: white;
	padding: 10px 40px;
	background: #903416;
	border-radius: 5px;
}

.section-calc {
	display: inline-flex;
}

.my-aside {
	width: 30%;
	background-color: lightgray;
	border-left: solid gray 1px;
}

.aside-phone {
	position: relative;
	font-size: 28px;
	text-align: right;
}

.aside-phone__figcapt {
	text-align: right;
}

.aside-phone:before {
	content: url(images/icon-phone.png);
	position: absolute;
	width: 37px;
	height: 37px;
	left: -7px;
	top: 15px;
}

.callback__inner {
	padding: 5px;
	background-color: #0244a5;
}

.callback {
	padding: 15px;
	border-bottom: solid gray 1px;
}
.callback__author-img {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.callback__author-name {
	font-size: 16px;
	font-weight: bold;
	color: #0244a5;
}

.callback__partners-img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.guarantee {
	display: flex;
	justify-content: left;
	padding: 20px;
	border: solid #0244a5 1px;
	border-radius: 5px;
	background-color: #c6e9ff;
}

.guarantee__img {
	padding: 20px;
}

.main-footer__copy {
	float: left;
}

.footer-nav {
	float: right;
}

.footer-nav__item a {
	width: 100%;
  	display: block;
  	color: blue;
  	padding: 14px 27px;
  	position: relative;
}

.footer-nav__item:before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #blue;
	position: absolute;
	top: 20px;
}

.footer-nav__item:first-child:before {
	display: none;
}

.footer-nav__item {
	display: inline-block;
	position: relative;
}