p { margin: 0; padding: 0 0;}
a { text-decoration: none; color: white;}
a:hover { color: #fff;}
a img { border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: bold; color: #fff;}
h1 { display: flex; align-items: center; font-size: 4.113em; }
h2 { padding: 12px 0; font-size: 1.313em; }
h3 {font-size: 1.5em; color: black;}
h4 {font-size: 1.5px; }
strong { font-weight: bold;}
figcaption, time { font-size: 0.667em; color: gray; }
em { font-style: italic;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; list-style: none;}
* { outline: none;}

body {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	background: #fff;
	background-image: linear-gradient(to bottom, #0353ac 0, #024a9e 10px, #0459b4 50px, #066ec5 85px, #7cc5f0 400px, #d3edfa 590px, #fff 100%);
	min-height: 100vh;
}

.main-nav {
	background-image: linear-gradient(to bottom, #0244a5, #0345a6 23px, #0055af 33px, #0759af 44px, #1f6bc1 45px);
	display: flex;
	justify-content: center;
 }

.main-nav__item {
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 0.875em;
	padding: 14px 24px;
	text-transform: uppercase;
}

.main-nav__item:before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 44%;
	left: 0%;
}

.main-nav__item:first-child:before {
	display: none;
}

.main-header {
	display: flex;
	justify-content: center;
}

.main-header__logo {
	width: 87px;
	height: 92px;
	padding: 20px 20px;
}

.main-header__text {
	text-transform: uppercase;
}

.hero {
	background: #0244a5; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #0244a5 43%, #7db9e8 57%, #7db9e8 62%, #7db9e8 65%, #7db9e8 65%, #2989d8 72%, #2989d8 72%, #2989d8 72%, #2989d8 74%, #207cca 77%, #006bc4 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #0244a5 43%,#7db9e8 57%,#7db9e8 62%,#7db9e8 65%,#7db9e8 65%,#2989d8 72%,#2989d8 72%,#2989d8 72%,#2989d8 74%,#207cca 77%,#006bc4 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #0244a5 43%,#7db9e8 57%,#7db9e8 62%,#7db9e8 65%,#7db9e8 65%,#2989d8 72%,#2989d8 72%,#2989d8 72%,#2989d8 74%,#207cca 77%,#006bc4 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0244a5', endColorstr='#006bc4',GradientType=1 );
	display: flex;
	justify-content: center;
	color: white;
	padding: 22px;
	border-top: .1rem solid white;
}

.hero__text-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 1rem;
	text-align: right;
}

.hero__title {
	margin-bottom: 1rem;
	font-size: 3.25rem;
	font-weight: bold;
	text-align: right;
}

.hero__description {
	margin-bottom: .5rem;
}

.hero__description--text-small {
	font-size: .75rem;
}

.hero__video img {
	width: 577px;
	height: 331px;
	padding-left: 32px;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
	display: flex;
} 

.main-content__content {
	width: calc(70% - 5);
	padding: 0 22px;
}